.nav-bar {
    height: 35px;    
    background-image: linear-gradient(to right, #c6d312 0%, #009900 100%);
    background-repeat: repeat-y;
}

.product {
    padding-top: 2%;
    width: 80%;
}

.product-image {
    width: 50%;
    float: left;
}

.product-image img {
    width: 100%;
}

.product-info ul {
    margin-left: 50%;
}
