.nav-bar {
    background-image: -webkit-linear-gradient(top, #004400 0%, #009900 100%);
    background-image: -o-linear-gradient(top, #004400 0%, #009900 100%);
    background-image: linear-gradient(to bottom, #004400 0%, #009900 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff004400', endColorstr='#ff009900', GradientType=0);
}

.product {
    width: 80%;
}

.product-image {
    width: 50%;
    float: left;
}

.product-image img {
    width: 100%;
}

.product-info {            
    padding: 1%;
}